@import "../node_modules/bootstrap/scss/bootstrap";

//Variables
$lightPurple: #673b6d;
$darkPurple: #220d33;

body{
    background-color: #673b6d;
    background-image: url(./img/waterMark.png);
    background-repeat: repeat-y;
    background-attachment: fixed;
    color: $darkPurple;
}


.vertColumn{
    background-color: #fef9ff;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 15px;
    border-radius: 0.5%;
}

.roundImg{
    border-radius: 5%;
}

.picLinks{
    font-size: 2.5rem;
    color: #673b6d;
}

a:hover{
    color: #956a9b;
}

.jobTitle{
    color: #673b6d;
    font-weight: 500;
}

.companyName{
    font-size: larger;
    font-weight: 600;
}

.btn-outline-primary{
    border-color: #673b6d;
    color: #673b6d;

}

.btn-outline-primary:hover{
    background-color: #220d33;
    color: white;
    border-color: #673b6d;

}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle
{
    background-color: $darkPurple;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(183, 0, 255, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(119, 0, 255, 0.5);
}

//===============
.btn-primary{
    background-color: $darkPurple;
    border-color: #3b1957;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3b1957;
    border-color: #220d33;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #220d33;
    border-color: #220d33;
    -webkit-box-shadow: 0 0 0 0.2rem #220d33;
            box-shadow: 0 0 0 0.2rem #220d33;
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #220d33;
    border-color: #220d33;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #220d33;
    border-color: #220d33;
  }

  .card {
    border: 1px solid #220d338e;
  }

.border-bottom{
    border-bottom: 1px solid #220d334f !important;
}